/* .image1{
    z-index: 0;
    font-size: 50px;
    background:'#ffffff';
    width:'470px';
    height:'50px';
    position:'back';
    margin-left:'50px';
    margin-top:'60px';
    margin-bottom:'50px'
} */